/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* vars */
/* base */
body {
  background-color: #ffe1ad;
  color: #2d2c2e;
  font-family: "Open Sans", Helvetica, sans-serif;
  padding-bottom: 50px;
}

a {
  color: #0266b3;
  text-decoration: none;
  font-family: "Lora", Georgia, serif;
}

a:hover {
  text-decoration: underline;
}

button, input[type="submit"] {
  background: #fff;
  border: 1px solid #a7a9ac;
  height: 35px;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: -2px;
}

/* layout */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper--content {
  background: #fbfbfb;
}

header {
  background-color: #fff;
  padding: 50px 20px 20px;
}

@media only screen and (max-width: 599px) {
  header {
    padding-top: 10px;
  }
}

.main-container {
  background-color: #fbfbfb;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 7px 0 5px -4px rgba(50, 50, 50, 0.19);
}

/* header */
header .page-title {
  color: #2d2c2e;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-right: 28px;
}

@media only screen and (max-width: 599px) {
  header .page-title {
    float: right;
    padding-right: 10px;
  }
}

header .sort-by,
header .filters {
  display: inline-block;
  margin-left: 50px;
}

@media only screen and (max-width: 599px) {
  header .sort-by,
  header .filters {
    margin: 10px auto 0;
    text-align: center;
    width: 100%;
  }
}

.navigation__options {
  text-align: right;
  padding-top: 10px;
}

.filters__label {
  margin-left: 20px;
}

.sort-by__option {
  color: #a7a9ac;
}

.back-link {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 40px;
}

@media only screen and (max-width: 1200px) {
  .back-link {
    top: 5px;
  }
}

.back-link span {
  text-indent: -300px;
  display: inline-block;
}

.back-link:hover:before {
  border-color: #0266b3;
}

.back-link:hover:after {
  border-color: #0266b3;
  border-color: #0266b3;
}

.back-link:before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 0.1em solid #a7a9ac;
  border-radius: 50%;
  margin-right: 1.5em;
}

.back-link:after {
  content: '';
  display: inline-block;
  margin-top: 12px;
  margin-left: 7px;
  width: 17px;
  position: absolute;
  top: 0px;
  left: 9px;
  z-index: 10;
  height: 17px;
  border-top: 0.1em solid #a7a9ac;
  border-right: 0.1em solid #a7a9ac;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.add-question {
  display: block;
  width: 26px;
  height: 26px;
  position: relative;
  background: #0266b3;
  border-radius: 50%;
  text-indent: -9999px;
  top: 4px;
}

.add-question--header {
  float: left;
}

@media only screen and (max-width: 599px) {
  .add-question--header {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

.add-question:before {
  content: '';
  background: #fff;
  height: 16px;
  position: absolute;
  width: 2px;
  display: block;
  margin-left: 12px;
  left: 0;
  top: 5px;
}

.add-question:after {
  background: #fff;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  display: block;
  top: 12px;
  width: 16px;
  margin-left: 5px;
}

/* search */
.search {
  position: relative;
}

.search--header {
  clear: both;
  margin-top: 20px;
}

@media only screen and (min-width: 600px) {
  .search {
    padding-right: 200px;
  }
}

.search__input {
  width: 100%;
  height: 35px;
  padding-left: 17px;
  border: 1px solid #a7a9ac;
}

.search__button {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
}

@media only screen and (min-width: 600px) {
  .search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    margin-top: 0;
  }
}

.search__button:hover {
  background-color: #0266b3;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

/* posts */
.post {
  background-color: #fff;
  color: #2d2c2e;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.post:first-child {
  border-top: 0;
}

.post__header {
  background: #dff3fd;
  color: white;
  padding: 10px 20px;
  max-width: 595px;
  margin-left: -1px;
  margin-top: -1px;
}

.post__title {
  margin-left: 79px;
  font-size: 20px;
  color: #0266b3;
  font-weight: bold;
  font-style: italic;
}

.post__meta {
  padding-left: 80px;
  position: relative;
  color: #a7a9ac;
  text-transform: uppercase;
  font-size: 12px;
}

.post__author {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: initial;
}

.post__author-image {
  float: left;
  position: absolute;
  left: 0;
  top: 10px;
  max-width: 50px;
  -webkit-clip-path: circle(25px at center);
  -moz-clip-path: circle(25px at center);
  -ms-clip-path: circle(25px at center);
  clip-path: circle(25px at center);
}

.post__activities {
  overflow: hidden;
  max-height: 240px;
  margin-left: -1px;
  position: relative;
}

.activities__stats {
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 20;
}

@media only screen and (max-width: 479px) {
  .activities__stats {
    top: 1px;
  }
}

.activities-stats {
  height: 220px;
  width: 200px;
  background: #fff;
  overflow: hidden;
  padding: 10px 20px 10px 10px;
  text-align: left;
  float: right;
}

@media only screen and (max-width: 599px) {
  .activities-stats {
    max-width: 180px;
  }
}

@media only screen and (max-width: 380px) {
  .activities-stats {
    font-size: 12px;
    max-width: 147px;
  }
}

.activities-stats__list {
  float: right;
  list-style: none;
}

.activities-stats__item {
  margin-bottom: 40px;
  font-family: "Lora", Georgia, serif;
  font-style: italic;
}

.activities-stats__value {
  font-weight: bold;
  font-style: normal;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 18px;
  margin-right: 5px;
}

.activities__list {
  list-style: none;
}

@media only screen and (max-width: 800px) {
  .activities-list {
    max-width: 399px;
  }
  .post__header {
    max-width: none;
  }
}

.activities-list {
  list-style: none;
  overflow: hidden;
  padding-bottom: 20px;
}

.activities-list__item {
  margin: 0 10px 30px 0;
  width: 90px;
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
}

@media only screen and (max-width: 620px) {
  .activities-list__item {
    display: none;
  }
  .activities-list__item:nth-child(1) {
    display: block;
  }
}

@media only screen and (min-width: 621px) {
  .activities-list__item {
    display: none;
  }
  .activities-list__item:nth-child(1) {
    display: block;
  }
  .activities-list__item:nth-child(2) {
    display: block;
  }
}

@media only screen and (min-width: 721px) {
  .activities-list__item {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .activities-list__item {
    margin-right: 1px;
  }
}

@media only screen and (max-width: 380px) {
  .activities-list__item {
    width: 77px;
  }
}

.activity {
  width: 100%;
  max-width: 90px;
  background: #eeeeee;
  text-align: center;
  padding-top: 23px;
  float: left;
  height: 200px;
  position: relative;
  margin-right: 12px;
  margin-top: 20px;
}

@media only screen and (max-width: 479px) {
  .activity {
    margin-top: 1px;
  }
}

.activity--asked {
  background: #dff3fd;
  margin-right: 13px;
  margin-top: 0;
  height: 220px;
}

@media only screen and (max-width: 599px) {
  .activity--asked {
    margin-right: 1px;
  }
}

@media only screen and (max-width: 479px) {
  .activity--asked {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .activity--more {
    margin-right: 1px;
  }
}

@media only screen and (max-width: 380px) {
  .activity--more {
    width: 77px;
  }
}

.activity__content {
  line-height: 50px;
  font-weight: bold;
}

.activity__image {
  -webkit-clip-path: circle(25px at center);
  -moz-clip-path: circle(25px at center);
  -ms-clip-path: circle(25px at center);
  clip-path: circle(25px at center);
}

.activity__footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.activity__footer:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  background: #a7a9ac;
  border-radius: 50%;
  margin: 0px auto;
  position: absolute;
  z-index: 10;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}

.activity__footer--answered:after {
  background: #000;
}

.activity__footer .activity__label {
  font-size: 12px;
  border-top: 1px solid #a7a9ac;
  padding-top: 5px;
  width: 90%;
  display: inline-block;
}

@media only screen and (max-width: 380px) {
  .activity__footer .activity__label {
    font-size: 10px;
  }
}

.activity__footer .activity__label--answered {
  border-color: #000;
}

.activity__footer .activity__label--more {
  border: none;
  font-family: "Lora", Georgia, serif;
  font-weight: bold;
  font-style: italic;
  padding: 0 5px;
  color: #000;
}

.mr-more__link {
  color: red;
  margin: 20px 0 30px;
  display: inline-block;
}

.batman {
  padding: 15px 20px;
  border: 1px solid red;
  background: #fff;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.mr-modal__overlay {
  position: fixed;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.mr-modal__wrapper {
  background: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media only screen and (min-width: 849px) {
  .mr-modal__wrapper {
    max-width: 848px;
    height: auto;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.mr-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  background: #000;
  line-height: 25px;
  color: #fff;
  border-radius: 50%;
  content: 'X';
  cursor: pointer;
  text-align: center;
}
